body {
  background-color: #CDCDC1;
}

.jumbotron {
  background-color: #FFEC8B;
}

.btn {
  background-color: #9ACD32;
}

.sidebar {
  background-color: #A2C93A;
  padding: 15px;
}

.sidebar h4 {
  color: #FFEC8B;
}
